body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  text-align: center;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
}

.Form{
  margin: 2rem 5rem 2rem 5rem;
  display: flex;
  justify-content: space-between;
}

.formElements{
  flex:1;
}

.input{
  width:25rem;
}

.dropDown{
  width:20rem;
}

.Continue{
  display: flex;
  justify-content: center;
}

.ContainerTimeSlot{
  display: flex;
  margin: 2rem 5rem 2rem 5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eachSlot{
  border-radius: 0.2rem;
  border:solid green 0.2rem;
  flex-basis: auto;
}